*{
    margin: 0;
}
.ds-container{
    border:5em darkred solid;
    background: lightgray;
    filter: drop-shadow(10px 10px 4px black)
}

.ds-container.bottom{
    border-radius: 0px 0px 50px 50px;
}

.ds-container.top{
    border-radius: 50px 50px 0px 0px;
}